@model SistemaPortafolio.Models.Ciclo

@{

}

<div class="panel panel-default">
    <div class="panel-body">

        <h2>DETALLE</h2>
        <ol class="breadcrumb">
            <li><a href="~/Admin/Ciclo/Index">Ciclo</a></li>
            <li class="active">@Model.nombre</li>
        </ol>

        <div class="panel panel-default">
            <div class="panel-heading">Información Detallada de la Ciclo</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>ID:</dt>
                    <dd>@Model.ciclo_id</dd>
                    <dt>Ciclo:</dt>
                    <dd>@Model.nombre</dd>
                    <dt>Descripción:</dt>
                    <dd>@Model.descripcion</dd>
                    <dt>Estado:</dt>
                    <dd>@Model.estado</dd>
                </dl>
            </div>
        </div>

    </div>
</div>