@model SistemaPortafolio.Models.HojaVidaDocenteFA
<div class="panel panel-default">
    <div class="panel-body">
        <h2>FORMACIÓN ACADEMICA</h2>
        <div class="row">
            <div class="col-lg-6">
                <a href="~/Admin/HojaVida/MiHojaVida" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Regresar a Mi Hoja de vida
                </a>
            </div>
            <div class="col-lg-6 text-right">
                <a href="~/Admin/HojaVida/AgregarEditarFC/" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Ir a Formación Continua
                </a>
            </div>
        </div>
        <br />
        @using (Html.BeginForm("AgregarEditarFA", "HojaVida", FormMethod.Post, new { id = "frm-HojaVida" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.hojavidadocentefa_id)
            @Html.HiddenFor(x => x.hojavida_id)

            <div class="panel panel-default">
                <div class="panel-heading">Información de Formación Académica</div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label>Institución:</label>
                        @Html.EditorFor(model => model.institucion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.institucion, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Título:</label>
                        @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="~/Admin/HojaVida/AgregarEditarFA" class="btn btn-danger">Cancelar</a>
            </div>
        }
    <br />
        <div class="panel panel-default">
            <div class="panel-heading">Mi Formacion Académica</div>
            <div class="panel-body">
                <table class="table table-hover table-responsive">
                    <tr>
                        <th>
                            Institucion
                        </th>
                        <th>
                            Titulo
                        </th>
                        <th>Opción</th>
                    </tr>

                    @foreach (var item in ViewData["listado"] as List<SistemaPortafolio.Models.HojaVidaDocenteFA>)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.institucion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.titulo)
                            </td>
                            <td>
                                <i data-toggle="tooltip" data-placement="top" title="Modificar" aria-hidden="true"><a href="~/Admin/HojaVida/AgregarEditarFA/@item.hojavidadocentefa_id" class="glyphicon glyphicon-pencil btn btn-sm btn-info"></a></i>
                            </td>
                            <td>
                                <i data-toggle="tooltip" data-placement="top" title="Eliminar" aria-hidden="true"><a href="~/Admin/HojaVidaDocenteFA/Eliminar/@item.hojavidadocentefa_id" class="glyphicon glyphicon-remove btn btn-sm btn-danger"></a></i>
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
        </div></div>