@model IEnumerable<SistemaPortafolio.Models.HojaVida>

<br />
<div class="panel panel-default">
    <div class="panel-body text-right">
        <a href="~/Admin/HojaVida/AgregarEditarFA" class="btn btn-primary">Mi Hoja de Vida</a>
    </div><br />
    <div class="panel-body text-right">
        <a href="~/Admin/HojaVida/Imprimir" class="btn btn-primary">Exportar a PDF</a>
    </div>
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.dni)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.dni)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.hojavida_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.hojavida_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.hojavida_id })
        </td>*@
    @*</tr>
}

</table>*@
