@model SistemaPortafolio.Models.Semestre
@{
    ViewBag.Title = "AgregarEditar";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h2>AGREGAR/EDITAR</h2>
        <ol class="breadcrumb">
            <li><a href="~/Admin/Semestre/Index">Semestre</a></li>
            <li class="active">@Model.semestre_id</li>

        </ol>

        @using (Html.BeginForm("Guardar", "Semestre", FormMethod.Post, new { id = "frm_semestre" }))
        {
            @Html.HiddenFor(x => x.semestre_id)
            <div class="panel panel-default">
                <div class="panel-heading">Información del semestre</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>ID:</label>
                        @Html.TextBoxFor(x => x.semestre_id, new { @class = "form-control", disabled = true })
                    </div>

                    <div class="form-group">
                        <label>Semestre:</label>
                        @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })
                        <input type="hidden" value="@Model.nombre" id="SemAnt" name="SemAnt"/>
                    </div>

                    <div class="form-group">
                        <label>Año:</label>
                        @Html.TextBoxFor(x => x.anio, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(x => x.anio, null, new { @class = "label label-danger" })

                    </div>

                    <div class="form-group">
                        <label>Fecha de Inicio:</label>
                        @try
                {
                    System.DateTime dt;
                    dt = Convert.ToDateTime(Model.fechainicio);

                    string fecha;
                    fecha = dt.ToString("yyyy-MM-dd");

                            <input type="date" name="fechainicio" value="@fecha" class="form-control" />
                        }
                        catch (Exception e)
                        {

                        }
                    </div>

                    <div class="form-group">
                        <label>Fecha de Finalización:</label>
                        @try
                {
                    System.DateTime dt;
                    dt = Convert.ToDateTime(Model.fechafin);

                    string fecha;
                    fecha = dt.ToString("yyyy-MM-dd");

                            <input type="date" name="fechafin" value="@fecha" class="form-control" />
                        }
                        catch (Exception e)
                        {

                        }
                    </div>

                    <div class="form-group">
                        <label>Estado:</label>
                        @{
                            List<SelectListItem> estado = new List<SelectListItem>();
                            estado.Add(new SelectListItem
                            {
                                Text = "Activo",
                                Value = "Activo"
                            });
                            estado.Add(new SelectListItem
                            {
                                Text = "Inactivo",
                                Value = "Inactivo",
                            });
                        }
                        @Html.DropDownListFor(x => x.estado, estado, new { @class = "form-control" })
                    </div>


                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="~/Admin/Semestre" class="btn btn-danger">Cancelar</a>
            </div>
                            }
        </div></div>