
@model SistemaPortafolio.Models.PlanEstudio

@{
    ViewBag.Title = (Model.plan_id > 0 ? Model.nombre : "Nuevo Registro");
    List<SistemaPortafolio.Models.Semestre> semestre = ViewBag.semestre;
}
<div class="panel panel-default">
    <div class="panel-body">
<h2>AGREGAR/EDITAR</h2>
<ol class="breadcrumb">
    <li><a href="~/Admin/PlanEstudio/Index">Plan de Estudio</a></li>
    <li class="active">@Model.plan_id</li>
</ol>

@using (Html.BeginForm("Guardar", "PlanEstudio", FormMethod.Post, new { id = "frm-planestudio" }))
{
    @Html.HiddenFor(x => x.plan_id)

    <div class="panel panel-default">
        <div class="panel-heading">Información del Plan de Estudio</div>
        <div class="panel-body">
            <div class="form-group">
                <label>ID:</label>
                @Html.TextBoxFor(x => x.plan_id, new { @class = "form-control", @disabled = true })

            </div>

            <div class="form-group">
                <label>Semestre:</label>
                <select name="semestre_id" class="form-control">
                    @foreach (var p in semestre)
                    {
                        <option @(Model.semestre_id.Equals(p.semestre_id) ? "selected" : "") value="@p.semestre_id" class="form-control">@p.nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Plan de Estudio:</label>
                @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })

            </div>

            <div class="form-group">
                <label>Estado:</label>
                @{
                    List<SelectListItem> estado = new List<SelectListItem>();
                    estado.Add(new SelectListItem
                    {
                        Text = "Activo",
                        Value = "Activo"
                    });
                    estado.Add(new SelectListItem
                    {
                        Text = "Inactivo",
                        Value = "Inactivo",
                    });
                }
                @Html.DropDownListFor(x => x.estado, estado, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="text-right">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="~/Admin/PlanEstudio" class="btn btn-danger">Cancelar</a>
    </div>
                    }
        </div></div>